/* src/components/Header.css */
.navbar {
  background-color: #dc3545; /* Rojo */
  position: fixed;  /* Esto hace que el header sea fijo */
  top: 0; /* Se pega al top de la ventana */
  left: 0; /* Se pega a la izquierda */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.navbar-brand {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #f8f9fa;
}
