/* Header.css */
.navbar {
    background-color: #dc3545; /* Rojo */
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #f8f9fa;
  }
  